@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body {
    font-size: 16px; /* Base */
    padding: 5%; /* Espaciado relativo */
    background-image: url(img/ilustracion.png);
    background-repeat: no-repeat;
    background-size: calc(130%);
    
}

.contenedor {
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */
    margin: 0 auto; /* Centra el contenido */
}

.contenido {
    text-align: left;
}

.contenido h1{
    font-family: "Lobster", sans-serif;
    font-size: 150px;
    color: #d363ff;
}

.contenido h3{
    font-family: "Montserrat", sans-serif;
    font-size: 130px;
    color: #E2A6DE;
    margin-top: -10px;
    margin-bottom: 70px;
} 

.contenido p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #0D0D0D;
} 

.contenido .click{
    font-family: "Montserrat", sans-serif;
    font-size: 0px;
    color: #0D0D0D;
} 

.custom-audio-player {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    max-width: 450px;
    border-radius: 10px;
    background-color: #E2A6DE;
}

.custom-audio-player p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #0D0D0D;
}

.audio{
    background-color: #DF2C94;
}

.contenido h6{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #DF2C94;
} 

.contenido button {
    background-color: #FF63AA;
    color: #FFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.contenido  button:hover {
    background-color: #E2A6DE;
}

.contenido h2{
    font-family: "Lobster", sans-serif;
    font-size: 50px;
    color: #8031a0;
}

.contenido .countdown-container{
    font-family: "Lobster", sans-serif;
    font-size: 50px;
    color: #8031a0;
}
  
.countdown-container {
    max-width: 300px;
    border-radius: 10px;
}
  
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.countdown {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
  
.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.time-box span {
    font-size: 36px;
    font-weight: bold;
    color: #8031a0;
}
  
.time-box p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #000000;
}
  
.map-container {
    margin-top: 50px;
}
  
.map-button {
    background-color: #FF63AA;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.map-button:hover {
    background-color: #E2A6DE;
}
  
  
  

@media (max-width: 720px) {
    body {
        background-image: url(img/ilustracion.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .contenido {
        text-align: left;
    }
    
    .contenido h1{
        font-family: "Lobster", sans-serif;
        font-size: 50px;
        color: #d363ff;
    }
    
    .contenido h3{
        font-family: "Montserrat", sans-serif;
        font-size: 60px;
        max-width: 230px;
        margin-top: 0px;
    margin-bottom: 0px;
    } 

    .contenido .click{
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        color: #0D0D0D;
    } 
    
    .contenido p{
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        max-width: 230px;
    } 

    .contenido h6{
        font-size: 15px;
        max-width: 230px;
    } 

    .custom-audio-player {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        max-width: 200px;
        border-radius: 10px;
    }

    .custom-audio-player p {
        font-family: "Montserrat", sans-serif;
        font-size: 0px;
        color: #0D0D0D;
    }
}
